@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import '../../theme/variables.scss';

ion-label{
  margin-right: 8px;
}

.mobile{
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
    .mobile-devic{
      width: calc(100% - 70%);
      border: 4px solid #1d1919;
      border-radius: 15px;
      height: calc(100% - 25%);
      background:#050505;
      font-family: 'Varela Round', sans-serif;
    
.tittle{
  color: #fff;
  font-weight: 500;
  font-size: 36px;
  margin: 20px;
}
    
.result{
  width: 95%;
  padding:40px 0px;
  border-radius: 10px;
  margin: 15px auto;
  display: flex;
  justify-content: end;
  color: #fff;
  font-size: 40px;
  background: #212327;
  }

.low{
  --background: #f88808;
}

.high{
  --background: #777169e1;
}

.meddium{
    --background: #202222;
}

#clean{
  color: #ffffff;
}

    @media screen and (max-width: 1200px) and (min-width: 800px){
      width: 50%;
    }
    
    @media screen and (max-width: 800px){
      width: 80%;
    }
  }
}