<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Luis Otavio Pais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mobile">
    <div class="mobile-devic">
        <ion-grid>
          <ion-row size="12">
            <h2 class="tittle">Calculadora PW IV</h2>
          </ion-row>

          <div class="result">
            <ion-label size="large" expand="full">{{result}}</ion-label>
          </div>

            <ion-row>
              <ion-col size="3" (click)="LimpaResultado()">
                <ion-button shape="round" size="large" expand="block" class="high" id="clean">AC</ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('%')">
                <ion-button shape="round" size="large" expand="block" class="high">%</ion-button>
              </ion-col>

              <ion-col size="3" (click)="LimpaValor()">
                <ion-button shape="round" size="large" expand="block" class="high"><ion-icon name="Backspace"></ion-icon></ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('/')">
                <ion-button shape="round" size="large" expand="block" class="low">/</ion-button>
              </ion-col>

            </ion-row>

            <ion-row>
              <ion-col size="3" (click)="AddValor('7')">
                <ion-button shape="round" size="large" expand="block" class="meddium">7</ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('8')">
                <ion-button shape="round" size="large" expand="block" class="meddium">8</ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('9')">
                <ion-button shape="round" size="large" expand="block" class="meddium">9</ion-button>
              </ion-col>
              <ion-col size="3" (click)="AddValor('*')">
                <ion-button shape="round" size="large" expand="block" class="low">X</ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3" (click)="AddValor('4')">
                <ion-button shape="round" size="large" expand="block" class="meddium">4</ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('5')">
                <ion-button shape="round" size="large" expand="block" class="meddium">5</ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('6')">
                <ion-button shape="round" size="large" expand="block" class="meddium">6</ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('-')">
                <ion-button shape="round" size="large" expand="block" class="low">-</ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3" (click)="AddValor('1')">
                <ion-button shape="round" size="large" expand="block" class="meddium">1</ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('2')">
                <ion-button shape="round" size="large" expand="block" class="meddium">2</ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('3')">
                <ion-button shape="round" size="large" expand="block" class="meddium">3</ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('+')">
                <ion-button shape="round" size="large" expand="block" class="low">+</ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3" (click)="AddValor('0')">
                <ion-button shape="round" size="large" expand="block" class="meddium">0</ion-button>
              </ion-col>

              <ion-col size="3" (click)="AddValor('.')">
                <ion-button shape="round" size="large" expand="block" class="meddium">,</ion-button>
              </ion-col>

              <ion-col size="6" (click)="Calcula()">
                <ion-button shape="round" size="large" expand="block" class="low">=</ion-button>
              </ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </div>
</ion-content>